<%- include ('../includes/header.ejs', {titulo: 'painel administrativo' }) %>



    <main>
        <h2>lista de Disciplinas</h2>
        <a href="/disciplinas/novo" class="btn btn-principal">adicionar disciplinas</a>
       
        <form action="/disciplinas/listar" method="get" class="form form-cunsulta">
        <input type="text" name="busca" placeholder="Buscar por nome">
        <select name="ordem" >
            <option value="nome_disciplina">ordenar por disciplinas</option>
            <option value="nome_disciplina desc">ordenar por disciplinas descendente</option>
            <!-- <option value="formacao">ordenar por formação</option> -->
        </select>
        <button type="submit" class="btn btn-principal">Buscar</button>
        </form>

        <table class="dado-table">
            <thead>
                <tr>
                    <th>nome</th>
                    <th>professor</th>
                    <th>ações</th>
                </tr>
            </thead>
            <tbody>
                <% for (let disciplina of dadosdisciplinas) { %>
                    <tr>
                        <td>
                            <%= disciplina.nome_disciplina %>
                        </td>
                        <td>
                            <%= disciplina.nome %>
                        </td>
                        <td class="acoes">
                            <a href="/disciplinas/editar/<%= disciplina.id_disciplina %>" class="btn btn-edit">Editar</a>
                            <form action="/disciplinas/excluir/<%= disciplina.id_disciplina %>" method="POST">
                                <button type="submit" class="btn btn-delete">excluir</button>
                            </form>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>



    </main>





    <%- include ('../includes/footer.ejs') %>