<%- include ('../includes/header.ejs', {titulo: 'painel administrativo' }) %>



    <main>
        <h2>lista de professores</h2>
        <a href="/aluno/novo" class="btn btn-principal">adicionar aluno</a>

        <table class="dado-table">
            <thead>
                <tr>
                    <th>nome</th>
                    <th>idade</th>
                    <th>sexo</th>
                    <th>turma</th>
                    <th>ações</th>
                </tr>
            </thead>
            <tbody>
                <% for (let alunos of dadosalunos) { %>
                    <tr>
                        <td>
                            <%= alunos.nome %>
                        </td>
                        <td>
                            <%= alunos.idade %>
                        </td>
                        <td>
                            <%= alunos.sexo %>
                        </td>
                        <td>
                            <%= alunos.nome_turma %>
                        </td>
                        <td class="acoes">
                            <a href="/alunos/editar/<%= alunos.id_aluno %>" class="btn btn-edit">Editar</a>
                            <form action="/alunos/excluir/<%= alunos.id_alunos %>" method="POST">
                                <button type="submit" class="btn btn-delete">excluir</button>

                            </form>

                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>



    </main>





    <%- include ('../includes/footer.ejs') %>